* {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
}
::selection {
  color: #404049;
  background-color: #e69e4b;
}

button.primary {
  padding: 8px 16px;
  background-color: #e69e4b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button.outlined {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #e69e4b;
  color: #e69e4b;
  border-radius: 4px;
  cursor: pointer;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 8px 16px;
  height: 24px;
  border: none;
  border-radius: 4px;
  background-color: #404049;
  border: 1px solid #767676;
  color: #eff0f5;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 1px solid #e69e4b;
  outline: none;
}
textarea {
  resize: none;
}
select {
  padding: 8px 16px;
  height: 24px;
  box-sizing: content-box;
  border: none;
  border-radius: 4px;
  background-color: #404049;
  border: 1px solid #767676;
  color: #eff0f5;
}

.title {
  font-size: 34px;
  cursor: pointer;
}
.title_btn_wrap {
  display: flex;
  align-items: end;
}
.title_btn_wrap > span {
  cursor: pointer;
}
.title_bar {
  width: 1px;
  height: 16px;
  background-color: #eff0f5;
  margin: 0px 10px;
}

nav {
  width: 200px;
  padding: 20px;
  background-color: #404049;
}
nav > div {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
nav > div:hover {
  padding: 10px;
  color: #e69e4b;
}
section {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* main */
.main_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.main_banner_wrap {
  width: 800px;
}
.main_banner_wrap > img {
  margin-top: 20px;
  width: 100%;
}
.main_text {
  margin-top: 20px;
  text-align: center;
  line-height: 1.5rem;
}
.content_title {
  font-size: 26px;
  background-color: #404049;
  padding: 10px 0 10px 14px;
}

/* login */
.login_wrap {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login_wrap > div:first-child {
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
.login_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.login_bottom > span {
  cursor: pointer;
}
.login_bottom > span:hover {
  color: #e69e4b;
}

/* join */
.join_wrap {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.join_wrap .join {
  height: 24px;
  box-sizing: content-box;
}
.join_wrap > div:first-child {
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
.join_title_small {
  font-size: 12px;
  margin-left: 4px;
  color: #e69e4b;
}
.join_input_wrap {
  margin-top: 6px;
  display: flex;
}
.join_input_wrap > input,
.join_input_wrap > select {
  flex: 1;
}
.join_input_wrap > button {
  margin-left: 10px;
}
.input_warning {
  font-size: 12px;
  color: #e64b4b;
}

/* password find */
.pass_wrap {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
}
.pass_wrap > div:first-child {
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
.pass_div_title {
  margin-top: 30px;
  text-align: left;
}

/* board */
.board_container {
  margin: 12px 0px;
}
.board_container .post_number,
.board_container .post_view {
  width: 50px;
}
.board_container .post_title {
  text-align: start;
  padding-left: 20px;
  width: 480px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.board_container .post_title > span:hover {
  cursor: pointer;
  color: #e69e4b;
}
.board_container .post_nickname {
  width: 130px;
}
.board_container .post_created_at {
  width: 120px;
}
.board_container .list_item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.board_container .list_item:hover {
  background-color: #404049;
}
.post_list_wrap {
  margin-bottom: 30px;
}
.bottom_wrap {
  display: flex;
  justify-content: center;
}
.board_search_bar_wrap {
  display: flex;
  margin: 12px 0px;
  flex: 1;
  justify-content: center;
}
.board_search_bar_wrap > input {
  width: 300px;
  margin-right: 10px;
}
.bottom_wrap .write_btn_wrap {
  display: flex;
  margin: 12px 0px;
  padding-left: 20px;
}
.pagination_wrap {
  display: flex;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}
.pagination_wrap > img {
  cursor: pointer;
}
.pagination_wrap > span {
  margin: 0px 6px;
  cursor: pointer;
}
.pagination_wrap > span:hover {
  color: #e69e4b;
}
.pagination_wrap > span.active {
  color: #e69e4b;
}

.post_detail_container {
  padding: 20px 0px;
}
.post_title_wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 20px;
  border-bottom: 1px solid #eff0f5;
}
.post_title_wrap > span:first-child {
  max-width: 650px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
}
.post_title_wrap > input {
  margin-left: 10px;
  margin-right: 60px;
  flex: 1;
}
.post_title_wrap > div {
  display: flex;
  align-items: center;
}
.post_title_wrap > div > span:last-child {
  padding-right: 10px;
}
.post_text_wrap {
  padding: 20px 10px 10px 10px;
  min-height: 250px;
  border-bottom: 1px solid #404049;
  margin-bottom: 20px;
}
.post_text_wrap > pre {
  margin: 0;
  padding: 0;
}
.post_btn_wrap {
  text-align: end;
}
.post_btn_wrap > button {
  margin-left: 10px;
}
.post_textarea {
  padding: 20px;
  width: calc(100% - 40px);
  border-radius: 4px;
  min-height: 250px;
  max-height: 500px;
  background-color: #404049;
  color: #eff0f5;
}
.post_textarea:focus {
  border: 1px solid #e69e4b;
  outline: none;
}

/* comment */
.comment_head {
  padding-bottom: 10px;
}
.comment_wrap {
  padding: 10px 0px;
  margin-bottom: 10px;
}
.comment_title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #404049;
}
.comment_nickname {
  font-weight: 600;
  margin-right: 10px;
}
.comment_edit {
  display: flex;
}
.comment_edit > span {
  cursor: pointer;
}
.comment_body {
  padding: 10px;
}
.comment_new_wrap {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 10px;
}
.comment_textarea {
  padding: 20px;
  border-radius: 4px;
  min-height: 38px;
  max-height: 38px;
  background-color: #404049;
  color: #eff0f5;
}
.comment_update_wrap {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 10px;
}
.comment_update_wrap > div > button {
  margin-left: 10px;
}

/* monster list */
.search_bar_wrap {
  display: flex;
  margin: 12px 0px;
}
.search_bar_wrap > input {
  flex: 1;
}
.search_bar_wrap > button {
  margin-left: 10px;
}
.icon_wrap {
  padding: 0px 8px;
  align-content: center;
}
.list_title {
  display: flex;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eff0f5;
  justify-content: space-between;
  font-weight: 700;
}
.list_title .icon,
.list_title .type {
  width: 150px;
}
.list_title .name {
  width: 300px;
}
.list_title .weak {
  width: 200px;
}
.list_item {
  display: flex;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #404049;
  justify-content: space-between;
  align-items: center;
}
.list_item .icon {
  width: 150px;
}
.list_item .icon > img {
  width: 100%;
}
.list_item .name {
  width: 300px;
}
.list_item .name > label > span:first-child {
  display: block;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 4px;
  font-size: 14px;
  color: #e9b554;
}
.list_item .name > label > span {
  cursor: pointer;
  font-weight: 700;
}
.list_item .name > span:hover {
  color: #e69e4b;
}
.list_item .type {
  width: 150px;
}
.list_item .weak {
  width: 200px;
}

.no_data {
  text-align: center;
  padding: 200px 0px;
}

/* detail */
.detail_breadcrumb {
  display: flex;
  align-items: center;
  margin: 12px 0px;
}
.detail_breadcrumb > div {
  display: flex;
  align-content: center;
}
.detail_breadcrumb > span {
  cursor: pointer;
}
.detail_container {
  display: flex;
  padding: 20px;
}
.detail_wrap {
  flex: 1;
  padding-right: 20px;
}
.detail_title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}
.detail_img_wrap {
  width: 300px;
}
.detail_img_wrap > img {
  width: 100%;
}

/* mypage */
.mypage_container {
  padding: 20px 0px;
}
.mypage_info_wrap {
  padding: 0px 0px 20px 20px;
}
.mypage_info_wrap > .input_wrap {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.mypage_info_wrap > .input_wrap > div:first-child {
  width: 6rem;
  margin-right: 20px;
}
.mypage_info_wrap > .input_wrap > .password_wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.mypage_info_wrap > .input_wrap > button {
  margin-left: 10px;
  height: 40px;
}
.mypage_info_wrap > .input_wrap > input,
.mypage_info_wrap > .input_wrap > div > input,
.mypage_info_wrap > .input_wrap > select {
  width: 12rem;
}
.mypage_btn_wrap {
  border-top: 1px solid #404049;
  padding-top: 20px;
  text-align: end;
}
.mypage_btn_wrap > button {
  margin-left: 10px;
}

.mypage_check_container {
  padding: 50px 0px 0px 0px;
  min-height: 250px;
  text-align: center;
}
.mypage_check_container > input {
  margin: 30px 0px;
}
