.title {
  font-size: 34px;
  cursor: pointer;
}
.title_btn_wrap {
  display: flex;
  align-items: end;
}
.title_btn_wrap > span {
  cursor: pointer;
}
.title_bar {
  width: 1px;
  height: 16px;
  background-color: #eff0f5;
  margin: 0px 10px;
}

nav {
  width: 200px;
  padding: 20px;
  background-color: #404049;
  font-size: 20px;
}
nav > div {
  width: 200px;
  padding: 10px;
  cursor: pointer;
}
nav > div:hover {
  padding: 10px;
  color: #e69e4b;
}

section {
  margin-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.main_banner_wrap {
  width: 800px;
}
.main_banner_wrap > img {
  margin-top: 20px;
  width: 100%;
}
.main_text {
  margin-top: 20px;
  text-align: center;
  line-height: 1.5rem;
}
